<h2> Región:
  <small> {{ selectedRegion | i18nSelect: regionsMap }} </small>
</h2>

<hr>

<h3> Seleccione una región </h3>

<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regions"
      class="btn btn-outline-primary mb-2 ms-2"
      [class]="(selectedRegion === region) ? 'btn-primary' : 'btn-outline-primary'"
      [style.color]="(selectedRegion === region) ? 'white' : ''"
      (click)="activateRegion(region)"
    >
      {{ region | i18nSelect: regionsMap }}
    </button>
  </div>
</div>

<div *ngIf="countries.length > 0" class="row mt-4">
  <div class="col">
    <app-table [countries]="countries"/>
  </div>
</div>

<div class="overlay-spinner" *ngIf="showSpinner">
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
</div>
