<h2> Región:
  <small> {{ activeRegion | titlecase }} </small>
</h2>
<hr>

<h5> Seleccione una región </h5>

<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regions"
      class="btn btn-outline-primary ms-2 mb-2"
      [class]="(activeRegion === region) ? 'btn-primary' : 'btn-outline-primary'"
      (click)="activateRegion( region )"
    >
      {{ region | titlecase }}
    </button>
  </div>
</div>

<div *ngIf="countries.length > 0" class="row mt-4">
  <div class="col">
    <app-table [countries]="countries"/>
  </div>
</div>
